<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <clear/>
   <!--<add name="PrimaryConnection" connectionString="Data Source=.; DataBase =BlankProjectDB; Integrated Security=false; User ID=sa;Password=admin123"/>-->
    <add name="PrimaryConnection" connectionString="data source=DESKTOP-TE1684B\SQLEXPRESS;initial catalog=BlankProjectDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="PrimaryProvider">
    <providers>
      <clear/>
      <add name="PrimaryProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PrimaryConnection" generatedNamespace="VisitLogDataAccess"/>
    </providers>
  </SubSonicService>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
